@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div>
    <h1 class="display-4">@Localizer["Contact"]</h1>
    <p>
        Culture : @CultureInfo.CurrentCulture.Name
    </p>
    <p>
        Culture UI : @CultureInfo.CurrentUICulture.Name
    </p>
</div>
